@import "tailwindcss";
/* Ensure body takes full height */
/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* Flex layout for App */
/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

/* main content grows to fill space */
/* main {
  flex: 1;
} */
